body, html {padding: 0 10px; background-color: #f5f5f5;}
main {
    max-width: 420px; min-width: 320px; margin: 30px auto 0;
    display: flex; flex-flow: column nowrap;
    border: 2px solid #ccddff;
    padding: 40px 20px;
    border-radius: 30px;
    background-color: #fff;
}
main > * {
    margin-bottom: 20px;
}
main h1{
    font-size: 3rem;
    font-weight: 700;
    color: skyblue;
    text-align: center;
}
main p:nth-child(2){
    text-align: center;
    font-size: 0.875rem;
    font-weight: 500;
}
main p:nth-child(2)::after {
    margin-top: 16px;
    content: ''; display: block;
    border-bottom: 2px solid skyblue;
}
main .info{
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 60px;
}
main .info li{
    margin-bottom: 30px;
}
main .info li span{
    font-size: 1.25rem;
    font-weight: 600;
}
main .info li span input{}
main #result_btn{
    background-color: skyblue;
    width: 60%;
    margin: 0 auto;
    padding: 14px 0;
    border-radius: 12px;
    font-size: 1.25rem;
    font-weight: 500;
    color: #fff;
}
main #result {
    text-align: center;
    margin-top: 20px;
    font-size: 1.75rem;
    font-weight: 600;
    color: #eeaa22;
    line-height: 1.4;
}
main #result em {
    font-weight: 600;
}