body, html {scroll-behavior: smooth;}
main {
    background-color: aqua;
    width: 995px;
    margin: 0 auto;
}
main .path {
    margin-bottom: 26px;
}
main section {
    display: grid;
    grid-template-columns: 630px 341px;
    justify-content: space-between;
}
main section .left_thumnail {
    background-color: yellow;
    display: flex;
}
main section .left_thumnail .small {
    display: flex; flex-flow: column nowrap;
}
main section .left_thumnail .small a {
    display: block;
    width: 56px; height: 56px;
    overflow: hidden;
    margin-bottom: 10px;
    border-radius: 5px;
}
main section .left_thumnail .small a:last-child {
    margin-bottom: 0;
}
main section .left_thumnail .small a img {
    width: 100%;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            
main section .left_thumnail .big {
    width: 100%;
    margin-left: 15px;
}
main section .left_thumnail .big img {
    width: 100%;
    border-radius: 5px;
}
main section .right_order {
    background-color: yellowgreen;
}
main section .right_order > * {
    margin-bottom: 25px;
    background-color: yellow;
}
main section .right_order .brand {
    font-size: 1.063rem;
}
main section .right_order h1 {
    font-size: 1.375rem;
}
main section .right_order .review {
    display: inline-block;
}
main section .right_order .review .score {}
main section .right_order .review .score em {
    font-size: 0.813rem;
}
main section .right_order .review .num {
    font-size: 0.813rem;
}
main section .right_order .sale_price {}
main section .right_order .sale_price em {}
main section .right_order .sale_price del {
    color: #777777;
}
main section .right_order > .price {
    font-size: 2rem;
}
main section .right_order > .price em {
    font-weight: 700;
}
main section .right_order .benefit_delivery {
    overflow: hidden;
}
main section .right_order .benefit_delivery dt {
    width: 80px; background-color: pink;
    float: left;
    margin-bottom: 15px;
}
main section .right_order .benefit_delivery dt:nth-of-type(2) {
    margin-bottom: 10px;
}
main section .right_order .benefit_delivery dd {
    width: calc(100% - 80px); background-color: aqua;
    float: right;
    margin-bottom: 15px;
}
main section .right_order .benefit_delivery dt:nth-of-type(2) ~dd{
    margin-bottom: 10px;
}
main section .right_order .benefit_delivery dd em {
    font-weight: 700;
}
main section .right_order .product_option {
    display: flex; flex-flow: column nowrap;
}
main section .right_order .product_option > * {
    padding-left: 17px;
    line-height: 44px;
    font-size: 0.875rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    outline: none; /* 선택시 outline 검은색으로 나오는 거 */
}
main section .right_order .product_option select[name=color] {
    margin-bottom: 25px;
}
main section .right_order .product_option select[name=color] option {}
main section .right_order .product_option select[name=size] {}
main section .right_order .product_option select[name=size] option {}
/* JS에서 select 클릭 시 출력되는 영역 시작 */
main section .order_select {}
main section .order_select .list {}
main section .order_select .list .color {}
main section .order_select .list .size {}
main section .order_select .close {}
main section .order_select .order_num {}
main section .order_select .order_num #minus {}
main section .order_select .order_num #plus {}
main section .order_select .order_num input[name=user_num] {}
main section .order_select .price {
    font-size: 1.5rem; 
}
main section .order_select .price em{
    font-weight: 600;
}
/* 끝 */
main section .right_order .total {}
main section .right_order .total p {}
main section .right_order .total .price {}
main section .right_order .total .price em {}
main section .right_order .btn_group {
    display: flex; justify-content: space-between;
}
main section .right_order .btn_group button {
    width: 165.5px; height: 57px;
    border: 1px solid #59AFFF;
    border-radius: 5px;
    font-size: 1.063rem;
}
main section .right_order .btn_group #cart_btn {
    background-color: #fff;
    color: #59AFFF;
}
main section .right_order .btn_group #buy_btn {
    background-color: #59AFFF;
    color: #fff;
}
main > .info {height: 100vh;}
main > #review {height: 100vh; background-color: yellow;}
main > .board {height: 100vh;}