body, html {background-color: #f5f5f5;}
main {
    max-width: 1024px; min-width: 320px; margin: 0 auto;
    border: 5px solid red;
    padding-top: 20px;
}
main .back {float: left;}
main .lang_group {
    float: right;
}
main .lang_group #lang_select {
    position: relative;
    font-size: 0.875rem;
}
main .lang_group .lang_open {
    position: absolute; right: 0; background-color: #fff;
    border: 1px solid #ddd; border-radius: 5px;
    padding: 14px;
    width: max-content;
    display: flex; flex-flow: column nowrap;
}
main .lang_group .lang_open .kr {}
main .lang_group .lang_open .en {}
main .lang_group .lang_open .ch1 {}
main .lang_group .lang_open .ch2 {}
main .lang_group .lang_open > a {
    margin-bottom: 16px;
    font-size: 0.875rem;
}
main .lang_group .lang_open > a:last-of-type {
    margin-bottom: 0;
}
main .login_wrap {
    max-width: 400px; margin: 0 auto;
    /* border: 5px solid blue; */
    text-align: center;
    clear: both;
}
main .login_wrap h1 {
    width: 135px; height: 26px;
    background: url(../images/m_sp.png) -316px -104px;
    margin: 40px auto;
}
main .login_wrap h1 a {
    display: block;
    width: 100%; height: 100%;
}
main .login_wrap h1 a .blind {
    display: none;
}
main .login_wrap .login_inner {}
main .login_wrap .login_inner #login_frm {}
main .login_wrap .login_inner #login_frm .id_pw_wrap {
    border: 1px solid #ddd; border-radius: 8px;
    display: flex; flex-flow: column nowrap;
    overflow: hidden;
}
main .login_wrap .login_inner #login_frm .id_pw_wrap input {
    padding: 16px;
}
main .login_wrap .login_inner #login_frm .id_pw_wrap input[name*=id] {
    border-bottom: 1px solid #ddd;
}
main .login_wrap .login_inner #login_frm .id_pw_wrap input[name*=pw] {
}
main .login_wrap .login_inner #login_frm .error_msg {
    text-align: left;
    color: #f00; font-size: 0.81rem; padding: 10px 0 0 10px; line-height: 1.4;
    /* display: none; */
}
main .login_wrap .login_inner #login_frm #login_btn {
    width: 100%;
    background-color: #aaabbb;
    font-size: 1.125rem; font-weight: 600; color: #fff;
    line-height: 50px;
    border-radius: 10px;
    margin:20px 0;
}
main .login_wrap .login_inner #login_frm .login_chk {
    text-align: left;
    margin-bottom: 30px;
}
main .login_wrap .login_inner #login_frm .login_chk #chk_state {}
main .login_wrap .login_inner #login_frm .login_chk label {
    font-size: 0.875rem;
}
main .login_wrap .login_inner #login_frm .login_chk label span {}
main .login_wrap .login_inner .search_join_wrap {
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    position: relative; left: 50%; transform: translateX(-50%);
}
main .login_wrap .login_inner .search_join_wrap > a {
    font-size: 0.875rem;
    display: flex; align-items: center;
}
main .login_wrap .login_inner .search_join_wrap > a:last-child {
    color: green;
}
main .login_wrap .login_inner .search_join_wrap > a:nth-child(1)::after {
    content: ''; display: block;
    width: 1px; height: 12px;
    background-color: #000;
    margin: 0 16px;
}
main .login_wrap .login_inner .search_join_wrap > a:nth-child(2)::after {
    content: ''; display: block;
    width: 1px; height: 12px;
    background-color: #000;
    margin: 0 16px;
}